<app-filter-panel></app-filter-panel>


<app-product-modal [product]="selectedModel">
</app-product-modal>


<div style="margin-top: 15px;" class="row d-flex justify-content-center mb-4">
    <div *ngFor="let product of products; let i = index" class="card d-flex flex-column" style="width: 15rem; margin-right: 5px;">
        <img class="card-img-top" src="{{baseImagesUrl + '/' + product.type + '/' + product._id + '/' + product.imageUrls[0]}}" alt="{{product.name}}">
        <div class="card-body flex-grow-1">
            <h5 class="card-title text-truncate">{{product.name}}</h5>
            <p class="card-text {{ product.showFullText ? '' : 'text-truncate' }}">{{product.description}}</p>
            <button class="btn btn-link" (click)="toggleTextExpansion(i)">
                {{ product.showFullText ? 'Show less' : 'Show more' }}
            </button>
            <div class="d-flex justify-content-between">
                <a class="btn btn-primary col-md-4" data-bs-toggle="modal" data-bs-target="#productModal" (click)="mapToProductModal(i)"><i class="bi bi-cart"></i></a>
                <p class="col-md-4" style="font-weight: bold; text-align: center;">{{product.price}}$</p>
                <a  class="btn  col-md-3" (click)="toggleHeart(i)" [class.active]="product.heartActive">
                    <i class="bi bi-heart"></i>
                </a>
            </div>
        </div>
    </div>
</div>
