.btn.active {
    background-color: red;
    border-color: red;
    color: white;
}

.image-container {
    position: relative;
    max-height: 400px; /* Set the desired max height for the images */
    overflow: hidden;
}

.image-nav-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    z-index: 1;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}





