<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
       <div class="container">
          <a class="navbar-brand" routerLink="">Welcome to Dress Store!</a>    
          <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
             <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                   <a class="nav-link" routerLink="/clothes">Clothes</a>
                </li>
                <li class="nav-item">
                   <a class="nav-link" routerLink="/shoes">Shoes</a>
                </li>
                <li class="nav-item">
                   <a class="nav-link" routerLink="/sports">Sports</a>
                </li>
             </ul>
             <ul class="navbar-nav" >
               <li class="nav-item">
                  <a class="nav-link" routerLink="/cart">
                     Cart 
                     <i class="bi bi-cart"></i>
                       <span class="cart-count" *ngIf="cartCount != 0 && cartCount != null">{{ cartCount }}</span>
                  </a>
                </li>
                <li class="nav-item" *ngIf="isAuthenticated">
                   <a class="nav-link"  href="" routerLink="/logout">Logout</a>
                </li>
                <li class="nav-item" *ngIf="isAuthenticated">
                  <a class="nav-link"  href="#" routerLink="/myProfile">My Profile 
                     <i class="bi bi-person-circle"></i></a>
                </li>
                <li class="nav-item" *ngIf="isAuthenticated">
                  <a class="nav-link"  href="#" routerLink="/wishlist">Wishlist 
                     <i class="bi bi-heart"></i></a>
                </li>
                <li class="nav-item" *ngIf="!isAuthenticated">
                   <a class="nav-link" href="#" routerLink="/login">Login</a>
                </li>
                <li class="nav-item" *ngIf="!isAuthenticated">
                   <a class="nav-link" href="#" routerLink="/register">Register</a>
                </li>
             </ul>
          </div>
       </div>
    </nav>
    <div class="bg-black text-white py-3">
      <div class="container">
        <div class="d-grid gap-2 d-md-flex justify-content-md-between">
          <a class="nav-link text-white"><i class="bi bi-cash-coin"></i> CASH ON DELIVERY</a>
          <a class="nav-link text-white"><i class="bi bi-truck"></i> FREE DELIVERY* & RETURNS</a>
          <a class="nav-link text-white"><i class="bi bi-arrow-repeat"></i> 30 DAYS RIGHT OF RETURN</a>
        </div>
      </div>
    </div>
 </header>